<div class="search-bar">
  <input type="text" placeholder="Search..." [(ngModel)]="lookingFor" (input)="onSearch()" />
  <button (click)="onSearch()">Search</button>
</div>

<div class="member-list">
  <table *ngIf="members && members.length > 0; else whenMembersIsEmpty">
    <thead>
    <tr>
      <th>#N°</th>
      <th>Name</th>
      <th>Family Name</th>
      <th>Accession Date</th>
      <th>Nationality</th>
      <th>Identity Document</th>
      <th>Identity Number</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let member of members">
      <td>{{ member.id }}</td>
      <td>{{ member.name }}</td>
      <td>{{ member.familyName }}</td>
      <td>{{ member.accessionDate }}</td>
      <td>{{ member.nationality }}</td>
      <td>{{ member.identityDocument }}</td>
      <td>{{ member.identityNumber }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="pagination">
  <button class="page-button" [disabled]="page === 0 || totalPages == 0" (click)="onPageChange(-1)">Previous</button>
  <span>Page {{ page + 1 }} of {{ totalPages }}</span>
  <button class="page-button" [disabled]="page === totalPages - 1 ||totalPages == 0" (click)="onPageChange(1)">Next</button>
</div>

<ng-template #whenMembersIsEmpty>
  <div class="empty-members-container">
    <p>There is no participants yet.</p>
  </div>
</ng-template>
